{% load static %}
<ul class="social-icons list-unstyled list-inline mb-0">
    <li class="list-inline-item">
      <a href="https://web.facebook.com/BrainBattleQuiz" target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
    </li>
    <li class="list-inline-item">
      <a href="#" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
    </li>
    <li class="list-inline-item">
      <a href="#" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a>
    </li>
   
    <li class="list-inline-item">
      <a href="https://www.youtube.com/@brainbattlequizafrica" target="_blank" rel="noopener"><i class="fab fa-youtube"></i></a>
    </li>
  </ul>